<div class="row">
  <div class="sixcol"><%= link_to "Sign in with Facebook", '/auth/facebook', id:'facebook_login' %></div>
</div>
<div class="row">
  <div class="sixcol last"><%= link_to "Sign in with Foursquare", '/auth/foursquare', id:'foursquare_login' %></div>
</div>