.navbar {
  font-family: $arial-rounded;
  color: white;
  background-color: $berry;
  @include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
  margin: 10px;
  display: table;
  width: 100%;
  height: 40px;
  
  .brand {
    font-size: 24px;
  }
  
  a {
    &:visited {
      color: white;
    }
    &:hover {
      color: red;
    }
    text-decoration: none;
    color: white;
  }
}

.nav {
  display: table-cell;
  text-align: center;
}

.main {
  @include background-image(url("/assets/main_bg.jpeg"));
  @include border-radius(10px);
  margin: 20px 50px 20px 50px;
  font-family: $georgia;
  color: $whale;
}

.btn-submit {
  @include button(pill, $aloe);
  font-family: $arial-rounded;
  font-size: 16px;
  font-weight: bold;
}

#get_started {
  @include button(shiny, $aloe);
  font-family: $arial-rounded;
}

#facebook_login {
  @include button(shiny, $clementine);
  font-family: $arial-rounded;
}

#foursquare_login {
  @include button(shiny, $frosting);
  font-family: $arial-rounded;
}

#signin {
  @include button(shiny, $wasabi);
  float: right;
  text-align: right;
  font-family: $arial-rounded;
}

#signout {
  @include button(shiny, $spice);
  font-family: $arial-rounded;
}