<div class="row">
  <div class="twelvecol last">How It Works:</div>
</div>
<div class="row">
  <div class="twelvecol last">Step #1: Login using your Facebook or Foursquare account</div>
</div>
<div class="row">
  <div class="twelvecol last">Step #2: Pick a time & a place for your event</div>
</div>
<div class="row">
  <div class="twelvecol last">Step #3: Pick up to three nearby restaurants for your friends to vote on</div>
</div>
<div class="row">
  <div class="twelvecol last">Step #4: Invite your friends to your event</div>
</div>
<div class="row">
  <div class="twelvecol last"><%= link_to "Get Started!", new_event_path, id:'get_started' %></div>
</div>